:root {
  --font-family-primary: "Inter", sans-serif;
  --font-family-secondary: "Jockey One", sans-serif;
  --color-primary: #fafafa;
  --color-secondary: #222121;
  --color-third: #c3ff0b;
  --color-background-primary: #272727;
}

html,
body {
  background-color: var(--color-background-primary);
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  box-sizing: border-box;
  padding: auto;
  overflow-x: hidden;
}

@media (min-width: 920px) {
  html,
  body {
    padding-left: 90px;
    padding-right: 70px;
  }
}

@media (min-width: 920px) {
  body::-webkit-scrollbar {
    display: none;
  }
}
