.container {
  display: flex;
  flex-direction: column;
  padding: 5%;

  hr {
    display: none;
  }
}

.contentProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  h1 {
    font-weight: 600;
    font-size: 16px;
  }

  h2 {
    color: var(--color-third);
    margin-bottom: 10px;
    font-size: 14px;
  }

  p {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: justify;
  }
}

.containerSecondy {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;

  .containerTechs {
    display: flex;
    width: 100;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {
      width: 30px;
    }
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;

  .containerLinks {
    display: flex;
    align-items: center;
    gap: 3px;

    img {
      width: 20px;
    }

    a {
      text-decoration: none;
      color: var(--color-third);
      font-size: 13px;
      cursor: pointer;
    }
    a:hover {
      color: var(--color-primary);
    }
  }
}

@media (min-width: 920px) {
  .container {
    padding: 1%;
    width: 100%;
    margin-left: 20px;
    height: 100%;
    max-width: 85%;
    display: flex;
    flex-wrap: wrap;
  }

  .links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row-reverse;
    width: 100%;

    .containerLinks {
      display: flex;

      img {
        width: 20px;
      }

      a {
        font-size: 0.7rem;
      }
    }
  }

  .contentProject {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    height: auto;

    img {
      width: 130px;
    }

    .description {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      h1 {
        font-size: 0.8rem;
      }

      h2 {
        font-size: 0.7rem;
      }

      p {
        font-size: 0.7rem;
        text-align: start;
      }
    }

    .containerTechs {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;

      img {
        width: 25px;
      }
    }

    .containerSecondy {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      margin-top: 0;
    }
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 1%;
    width: 86%;

    .contentProject {
      img {
        width: 160px;
      }
    }

    .description {
      h1 {
        font-size: 1rem;
      }

      h2 {
        font-size: 0.9rem;
      }

      p {
        font-size: 0.9rem;
        text-align: start;
      }
    }

    .containerTechs {
      img {
        width: 30px;
      }
    }

    .links {
      margin-top: 0;
      .containerLinks {
        img {
          width: 25px;
        }

        a {
          font-size: 0.8rem;
        }
      }
    }
    .containerSecondy {
      display: flex;
      align-items: center;
      margin-top: 0;
    }
  }
}
