.container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  justify-content: center;
  align-items: center;
  margin-top: 25px;

  hr {
    display: none;
  }
}

.contentProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  h1 {
    font-weight: 600;
    font-size: 16px;
  }

  h2 {
    color: var(--color-third);
    margin-bottom: 10px;
    font-size: 14px;
  }

  p {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: justify;
  }
}

.containerSecondy {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;

  .containerTechs {
    display: flex;
    width: 100;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {
      width: 30px;
    }
  }
}

.links {
  display: flex;
  gap: 15px;
  margin-top: 20px;

  .containerLinks {
    display: flex;
    align-items: center;
    gap: 3px;

    img {
      width: 20px;
    }

    a {
      text-decoration: none;
      color: var(--color-third);
      font-size: 13px;
    }
  }
}

//ajuste nos links de projetos para mobile e desktop min-1090px
@media (max-width: 1090px) {
  .links {
    align-items: center;
    justify-content: center;
  }
}

//ajuste no container para desktop
@media (min-width: 780px) {
  .container {
    margin-right: 55px;
  }
}

//desktop-version
@media (min-width: 1090px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    width: 80%;
    margin-left: 40px;
  }

  .contentProject {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    height: auto;
  }

  .description {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .links {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 100%;

    .containerLinks {
      display: flex;
    }
  }

  .containerSecondy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

    .containerTechs {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
    }
  }
}
//ajuste na resposividade container projetos desktop min-1400px
@media (min-width: 1400px) {
  .container {
    padding: 1%;
    width: 85%;
    margin-left: 40px;
  }
}
